.delivery {
  @media (min-width: 851px) {
    .mobile-only {
      display: none !important;
    }
  }

  .delivery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  .delivery {
    .delivery-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }
}