@import '../../../../variables';

.order {
  .order-item-wrapper {
    display: grid;
    gap: 16px;
    align-items: center;
    background: $background-color-white;
    border: 1px solid $border-color-grey;
    border-radius: 12px;
    padding: 16px;
    margin: 0 auto;
    width: 100%;

    img {
      justify-self: center;
    }

    .content {
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;

        .title {
          font-family: $second-font-semibold;
        }

        span {
          padding: 10px;
          font-family: $first-font;
          color: $font-color-black;
        }
      }

      .price {
        color: $primary-color;
        font-family: $second-font-semibold;
        display: flex;
        justify-content: flex-end;
      }

      .result {
        display: flex;
        align-items: center;
        gap: 40px;
      }
    }
  }

  @media (min-width: 851px) {
    max-width: 850px;
    margin: 0 auto;
    padding-top: 40px;

    .order-item-wrapper {
      min-height: 152px;
      justify-content: space-between;
      grid-template-columns: 120px 1fr 220px;

      img {
        height: 120px;
      }

      .content {

        display: contents;

        .text {
          .title {
            font-size: 20px;
            line-height: 28px;
          }

          span {
            font-size: 16px;
            line-height: 22px;
          }
        }

        .price {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  @media (max-width: 850px) {
    margin: 20px;

    .order-item-wrapper {
      grid-template-columns: 1fr 2fr;
      justify-content: flex-start;

      img {
        height: 94px;
      }

      .content {
        flex-shrink: 0;
        flex-direction: column;
        align-items: flex-start;

        .text {
          .title {
            font-size: 14px;
            line-height: 18px;
          }

          span {
            font-size: 12px;
            line-height: 16px;
          }
        }

        .result {
          padding-top: 10px;
          padding-right: 10px;

          .price {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
}