@import '../../../../variables';

.order-contacts {
  @media (min-width: 851px) {
    .mobile-only {
      display: none !important;
    }

    .contact-item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .error-text {
        text-align: left;
        color: $accent-color;
      }
    }

  }

  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: InterRegular;
  color: $font-color-grey;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  .order-contacts {
    margin: 20px 20px 0 20px;
    flex-direction: column;

    .contact-item {
      padding-bottom: 16px;
    }

    .contact-item:last-child {
      padding-bottom: 0px;
    }
  }

}