@import '../../variables';

#pin.content {
  max-width: 240px;
  
  .pin-code { 
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
    
    .pin-digit {
      display: block;
      text-align: center;
      font-size: 15px;
      line-height: 22px;
      color: $font-color-gray;
      width: 48px;
      height: 48px;
      border-radius: 6px;
      border: 1px solid $border-color-gray;
      -webkit-box-shadow: inset 0 1px 1px $primary-color;
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
  }
}
