@import '../../variables';

.modal-wrapper {
  border-radius: 24px;
  background: $background-color-gray;
  padding: 60px 265px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;

    span {
      text-align: center;
    }

    h1 {
      font-family: $second-font-semibold;
      font-size: 32px;
      line-height: 40px;
    }

    .info {
      margin-top: 16px;
      font-family: $first-font;
      font-size: 16px;
      line-height: 22px;
    }

    .phone {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 100%;

      label {
        font-family: $second-font;
        font-size: 14px;
        line-height: 18px;
        color: $font-color-gray;
      }

      input {
        padding: 12px 16px;
        margin-top: 8px;
        font-family: $first-font;
        font-size: 16px;
        line-height: 22px;
        border-radius: 6px;
        border: 1px solid $border-color-gray;
        color: $primary-color;
        &:hover {
          outline: 2px solid $primary-color;
        }
      }
    }

    button {
      margin-top: 16px;
      padding: 13px 40px;
      width: 100%;
      justify-content: center;
      border-radius: 6px;
      background: $primary-color;
      border: $primary-color 2px solid;
      cursor: pointer;

      span {
        font-family: $first-font;
        font-size: 16px;
        line-height: 22px;
        color: $font-color-white;
      }
      &:hover {
        color: $primary-color;
        background: $font-color-white;
        span {
          color: $primary-color;
        }
      }
    }

    .agreement {
      margin-top: 12px;
      font-family: $second-font;
      font-size: 14px;
      line-height: 18px;
      color: $font-color-gray;
    }
  }
}
