@import '../../../../variables';

.product-card {
  position: relative;
  display: grid;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid $border-color-grey;
  background: $background-color-white;
  overflow: hidden;
  align-content: space-between;

  & img {
    width: 300px;
    flex-shrink: 0;
    padding: 10px;
  }
}

.product-card-content {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 16px 20px 20px;

  & p {
    width: 260px;
    color: $font-color-black;
    font-family: $first-font-semibold;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  & span {
    width: 260px;
    color: $font-color-black;
    font-family: $first-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
}

.product-card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;

  & .add-to-cart {
    display: inline-flex;
    color: $font-color-white;
    font-family: $first-font-semibold;
    padding: 11px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: $primary-color;
    border: $primary-color 2px solid;
    cursor: pointer;

    &:hover {
      color: $primary-color;
      background: $font-color-white;
    }
  }

  & .price {
    display: inline-flex;
    color: $primary-color;
    text-align: right;
    font-family: $first-font-semibold;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
}

@media (max-width: 850px) {
  .product-card {
    max-width: 390px;
    display: flex;
    align-items: center;

    & img {
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      padding: 5px;
    }

    .product-card-content {
      gap: 8px;
      margin: 10px;

      & p {
        max-width: 200px;
        font-size: 14px;
        line-height: 18px;
      }

      & span {
        max-width: 200px;
        text-align: left;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
      }
    }

    .product-card-action {
      justify-content: flex-start;
      gap: 30px;

      & .add-to-cart {
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          color: $primary-color;
          background: $font-color-white;
        }
      }
    }
  }
}