@import '../../variables';

.counter {
  @media (min-width: 851px) {
    .mobile-only {
      display: none !important;
    }
  }

  border-radius: 6px;
  background: $primary-color-light;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 36px;
  width: 96px;
  justify-content: center;

  input {
    width: 40px;
    border: 0;
    background: 0;
    text-align: center;
    color: $primary-color;
    font-family: $second-font-semibold;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }

  button {
    padding: 0px;
    border: 0;
    background: 0;
    cursor: pointer;
  }
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  .counter {
    height: 32px;
  }
}