@import '../../variables';

.navigation-links {
  position: sticky;
  top: 0;
  background: $background-color-white;
  border-bottom: 1px $border-color-gray solid;
  z-index: 1;
}

.navigation-links-content {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pizza-icon {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    a {
      text-decoration: none;
      font-family: SFProTextRegular;
      color: #191919;
      font-size: 16px;
      line-height: 22px;
    }
  }

  button {
    padding: 8px 16px;
    border-radius: 4px;
    background: $primary-color;
    border: 0;

    span {
      font-family: SFProTextRegular;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
    }
  }
}