@import '../../variables';

.navigation-links {
  position: sticky;
  top: 0;
  background: $background-color-white;
  border-bottom: 1px $border-color-grey solid;
  z-index: 1;
}

.navigation-links-content {
  @media (min-width: 851px) {
    .mobile-only {
      display: none !important;
    }
  }

  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pizza-icon {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    a {
      text-decoration: none;
      font-family: $first-font;
      color: $font-color-black;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.cart-button {
  padding: 8px 16px;
  border-radius: 4px;

  span {
    font-family: $first-font;
    color: $font-color-white;
    font-size: 16px;
    line-height: 22px;
  }

  &:hover svg path {
    fill: $primary-color;
  }
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  .navigation-links {
    padding: 10px 20px 10px 20px;

    .navigation-links-content {
      .pizza-icon {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0;
      }

      .left-part {
        display: flex;
        gap: 12px;
      }
    }
  }

  .cart-button {
    padding: 10px;
  }
}