@import '../../../../variables';

.order {
  .order-products {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (max-width: 850px) {
    .order-products {
      gap: 10px;
    }
  }
}