@import '../../../../../../variables';

.order-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 60px 0;

    span {
      font-family: InterRegular;
      color: $primary-color;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }

    button {
      padding: 13px 24px;
      background-color: $primary-color;
      border: 0;
      font-family: SFProTextRegular;
      color: $background-color-white;
      font-size: 16px;
      line-height: 22px;
    }
  }