@import '../../../../../../variables';

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    display: inline-block;
    width: 175px;
    height: 48px;
    background-color: $background-color-white;
    font-family: SFProTextRegular;
    color: $font-color-black;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 13px 14px;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: $primary-color;
    color: $font-color-white;
}

.active {
    border-radius: 6px 6px 6px 6px;
}

.switch-field label:first-of-type {
    border-radius: 6px 0 0 6px;
}

.switch-field label:last-of-type {
    border-radius: 0 6px 6px 0;
}