@import '../../../../variables';

.order-details {
  max-width: 850px;
  margin: 0 auto;
  .switch-button {
    max-width: 350px;
  }
  .switch-button .tab input:checked + .name {
    max-width: 175px;
  }
}
