@import '../../../../variables';

.order-details {
  max-width: 850px;
  margin: 0 auto;

  h2 {
    padding: 20px 0 16px 0;
    font-family: InterSemibold;
    color: #191919;
    font-size: 24px;
    line-height: 32px;
  }

  .order-grid {
    display: grid;
    gap: 8px;
    column-gap: 20px;
    font-family: InterRegular;
    color: $font-color-grey;
    font-size: 14px;
    line-height: 18px;

    &.contacts {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 18px, 48px;
      padding-bottom: 20px;
    }

    &.delivery {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 18px, 48px, 18px, 48px;
      padding: 16px 0 16px 0;

      .street-grid-item {
        grid-column-start: 1;
        grid-column-end: 6;

        input {
          width: 100%;
        }
      }
    }
  }

  .delivery {

    .delivery-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
    }

    .delivery-time {
      font-family: InterRegular;
      color: $font-color-grey;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .radio-group {
    padding: 12px 0 20px 0;
    align-items: flex-end;
  }

  .additional-info {
    textarea {
      padding: 12px 20px;
      width: 100%;
      height: 200px;
      border-radius: 6px;
      border: 1px solid $border-color-grey;
      background: $background-color-white;
      resize: none;
    }

    textarea::placeholder {
      font-family: InterRegular;
      color: $font-color-grey;
      font-size: 14px;
      line-height: 18px;
    }

    textarea:focus {
      outline-style: none;
      box-shadow: none;
      border: 1px solid $primary-color;
    }
  }

  .order-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 60px 0;

    span {
      font-family: InterRegular;
      color: $primary-color;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }

    button {
      padding: 13px 24px;
      background-color: $primary-color;
      border: 0;
      font-family: SFProTextRegular;
      color: $background-color-white;
      font-size: 16px;
      line-height: 22px;
    }
  }
}