@import '../../../../variables';

.cart {
  padding: 32px 20px 60px;
  overflow: scroll;

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  span {
    text-align: left;
  }
}
.modal-panel {
  .cart-result {
    background: $background-color-white;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
  }

  .cart-result-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 420px;
    padding: 12px 0;

    span {
      font-family: $second-font;
      color: $primary-color;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  }

  button {
    padding: 11px 22px;
    background-color: $primary-color;
    border: 2px $primary-color solid;
    font-family: $first-font;
    color: $background-color-white;
    font-size: 16px;
    line-height: 22px;
  }
}