@import '../../../../variables';

.content{
  &.authentication-modal{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    button {
      margin-top: 30px;
    }
  }
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

}