.change {
  display: flex;
  gap: 16px;

  .cash-input {
    max-width: 160px;

    input[type=text] {
      margin-top: 0;
      width: 160px;
    }
  }
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  .change {
    flex-direction: column;
    gap: 0;

    .cash-input {
      padding: 0 0 20px 20px;
    }
  }
}