@import '../../variables';

input {
  border-radius: 6px;
  border: 1px solid $border-color-grey;
  background: $background-color-white;
}

input[type=text] {
  padding: 12px 20px;
  font-family: InterRegular;
  color: $font-color-black;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}

input::placeholder {
  font-family: InterRegular;
  color: $font-color-grey;
  font-size: 14px;
  line-height: 18px;
}

input:hover{
  border: 1px solid $primary-color;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border: 1px solid $primary-color;
}
