@import '../../../../../../variables';

.additional-container {
  padding-top: 50px;

  .additional-order-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 348px;
    width: 190px;
    background-color: $background-color-white;
    border-radius: 12px;

    img {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .name {
      padding: 16px 30px 8px 30px;
      font-family: SFProTextSemibold;
      color: $font-color-black;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
    }

    .info {
      font-family: InterRegular;
      color: $font-color-black;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
    }

    button {
      display: flex;
      margin: 12px 16px 16px 16px;
      padding: 16px 16px;
      width: 158px;
      height: 40px;
      border-radius: 4px;
      background: $primary-color;
      border: 0;
      justify-content: center;

      span {
        color: $font-color-white;
        font-family: InterSemibold;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}