@import '../../variables';

header {
  background-color: $background-color-white;

  @media (min-width: 851px) {
    .mobile-only {
      display: none !important;
    }
  }

  .header-container {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    button {
      padding: 0;
      border: 0;
      background-color: transparent;

      span {
        font-family: $first-font;
        color: $font-color-black;
        font-size: 16px;
        line-height: 22px;
      }
    }

    span {
      font-family: $second-font;
      color: $font-color-black;
      font-size: 14px;
      line-height: 18px;
    }

    .left-part {
      display: flex;
      align-items: center;
      gap: 40px;

      .location {
        display: flex;
        gap: 8px;
      }
    }

    .right-part {
      display: flex;
      align-items: center;
      // gap: 40px;
      width: 500px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  header {
    .header-container {
      padding: 0px;
      padding: 9px 20px 10px 20px;

      .left-part {
        justify-content: space-between;
        gap: 0;

        span {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .right-part {
        width: auto;
      }
    }
  }
}
