@import '../../../../variables';

.delivery-grid {
	@media (min-width: 851px) {
		.mobile-only {
			display: none !important;
		}
	}

	display: grid;
	gap: 16px;
	column-gap: 20px;
	font-family: $second-font;
	color: $font-color-grey;
	font-size: 14px;
	line-height: 18px;
	grid-template-columns: repeat(5, 1fr);
	padding: 16px 0 16px 0;

	.grid-item {
		display: flex;
		flex-direction: column;
		gap: 8px;
		
		.error-text {
			color: $accent-color;
			text-align: left;
		}
		
		&.street {
			grid-column-start: 1;
			grid-column-end: 6;
		}
	}

	input {
		width: 100%;
	}

}

@media (max-width: 850px) {
	.desktop-only {
		display: none !important;
	}

	.delivery-grid {
		margin: 0 20px 0 20px;
		grid-template-columns: repeat(4, 1fr);
		padding: 16px 0 16px 0;

		.grid-item {

			&.street {
				grid-column-start: 1;
				grid-column-end: 4;
			}

			&.mobile {
				grid-column: span 2;
			}
		}
	}
}