@import '../../../../../variables';

.component-wrapper {
  // display: inline-block;
  // vertical-align: top;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  transition: border-color 0.3s, color 0.3s;

  .component-frame {
    cursor: pointer;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid $border-color-gray;
    background: $background-color-white;
    justify-content: center;
    position: relative;
    .icon {
      width: auto;
      height: 40px;
      width: 40px;
      object-position: top;
    }
    input {
      display: none;
    }

  }
  
  .caption {
    font-family: $second-font;
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    // height: 58px;
    margin-top: 8px;
    max-width: 105px;
  }

  
  &:hover {
    // .component-frame {
      
    //   box-shadow: 3px 3px 4px red;
    //   border: 2px solid $primary-color;
    //   background: $background-color-white;
    //   .icon {
    //     fill: $object-filter-color-gray;
    //   }
    // }
    .caption {
      color: $font-color-gray;
    }
  }
}


.checkbox:checked{

  .icon {
    height: 140px;
}
} 