@import '../../variables';

.authorize {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  border: 0;
  background-color: transparent;

  button {
    padding: 0;
    border: 0;
    background-color: transparent;

    span {
      font-family: $first-font;
      color: $font-color-black;
      font-size: 16px;
      line-height: 22px;
    }
  }
}