$primary-color: #ff7010;
$primary-color-light: #ffeee2;
$background-color-grey: #f9f9f9;
$background-color-white: #fff;

@font-face {
  font-family: 'InterRegular';
  src:
    local('Inter-Regular'),
    url(./fonts/Inter-Regular.otf) format('truetype');
};

@font-face {
  font-family: 'InterSemibold';
  src:
    local('Inter-SemiBold'),
    url(./fonts/Inter-SemiBold.otf) format('truetype');
};

@font-face {
  font-family: 'SFProTextRegular';
  src:
    local('SFProText-Regular'),
    url(./fonts/SFProText-Regular.ttf) format('truetype');
};

@font-face {
  font-family: 'SFProTextSemibold';
  src:
    local('SFProText-Semibold'),
    url(./fonts/SFProText-Semibold.ttf) format('truetype');
};