$first-font: 'SFProTextRegular', sans-serif;
$first-font-semibold: 'SFProTextSemibold', sans-serif;
$second-font: 'InterRegular', sans-serif;
$second-font-semibold: 'InterSemibold', sans-serif;

$primary-color: #ff7010;
$primary-color-light: #ffeee2;
$object-filter-color-gray: invert(79%) sepia(5%) saturate(16%) hue-rotate(344deg) brightness(84%) contrast(90%);
$object-filter-color-orange: invert(55%) sepia(66%) saturate(3416%) hue-rotate(350deg) brightness(100%) contrast(106%);

$font-color-black: #191919;
$font-color-white: #ffffff;
$font-color-gray: #a5a5a5;

$background-color-gray: #f9f9f9;
$background-color-white: #ffffff;

$border-color-gray: #f0f0f0;
$border-color-dark-gray: #A5A5A5;

$accent-color: #E23535;
