@import '../../../../variables';

.question-delivery-time {
  font-family: InterRegular;
  color: $font-color-grey;
  font-size: 14px;
  line-height: 18px;
}

.delivery-time {

  display: flex;
  gap: 16px;

  .date-time-pickers {
    display: flex;
    gap: 16px;
  }

  input[type=text] {
    margin-top: 0;
    max-width: 150px;
  }
}

.react-datepicker__day--today {
    background-color: $primary-color-light !important;
}

.react-datepicker__day--selected {
    background-color: $primary-color !important;
}

.react-datepicker__day:hover {
    background-color: $primary-color-light !important;
}

.react-datepicker__day--selected:hover {
    background-color: $primary-color !important;
}

.react-datepicker__time-list-item--selected {
  background-color: $primary-color !important;
}

.react-datepicker__time-list-item:hover {
  background-color: $primary-color-light !important;
}

.react-datepicker__time-list-item--selected:hover {
  background-color: $primary-color !important;
}

@media (max-width: 850px) {
	.desktop-only {
		display: none !important;
	}

  .question-delivery-time {
    margin-left: 20px;
    font-family: InterRegular;
    color: $font-color-grey;
    font-size: 14px;
    line-height: 18px;
  }

  .delivery-time {
    flex-direction: column;
    gap: 0;

    .date-time-pickers {
      padding: 0 0 20px 20px;
    }

    input[type=text] {
      max-width: 167px;
    }
  }
}